{% extends 'shop/base.html' %}

{% block title %}
Catalog - Anverali Marketplace
{% endblock title %}

{% block content %}
<div class="center">
    <h1>Available Products</h1>
    <table class="table table-bordered shade">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Remaining</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <td>
                    {% if product.remaining > 0 %}
                    {{ product.remaining }}
                    {% else %}
                    Sold out
                    {% endif %}
                </td>
                <td>
                    {% if user.is_authenticated %}
                        {% if user.user_type == 2 or user.is_staff %}
                        <form action="{% url 'remove_product' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">remove</button>

                        </form><a href="{% url 'update_product' product.id %}" class="btn btn-primary">update product</a>
                        {% elif product.remaining > 0 %}
                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="1" min="1" max="{{ product.remaining }}">
                            <button type="submit" class="btn btn-primary">Put to Cart</button>
                        </form>
                        {% else %}
                        <button type="button" class="btn btn-secondary" disabled>Sold out</button>
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-secondary" disabled>Please authorize</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% if user.is_authenticated and user.is_staff or user.user_type == 2 %}
                <tr>
                    <td colspan="4">
                        <a href="{% url 'add_product' %}" class="btn btn-primary">Add Product</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}